@page
@model WebScraper.Web.Pages.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>

<form method="post" class="form-control">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RegistrationDto.Name"></label>
        <input asp-for="RegistrationDto.Name" class="form-control" />
        <span asp-validation-for="RegistrationDto.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDto.Email"></label>
        <input asp-for="RegistrationDto.Email" class="form-control" />
        <span asp-validation-for="RegistrationDto.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="RegistrationDto.Password"></label>
        <input asp-for="RegistrationDto.Password" class="form-control"  type="password"/>
        <span asp-validation-for="RegistrationDto.Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>
